/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Raleway', sans-serif;
}

nav .brand-logo {
  color: #ff0808;
}

nav ul a,
nav .brand-logo {
  font-family: 'Oleo Script', cursive;
  color: #ff0808
  }

.nav-wrapper {
    padding: 0 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ff0808;
  font-size: 2em;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  
.section-intro {
  height: 100%;
  width: 100%;
}

.section-immagine {
  height: 100%;
  width: 100%;
}

.section-menù {
  height: 100%;
  width: 100%;
}

.btn-menù {
  width: 100%;
}

.header {
  margin-top: 15%;
  font-size: 2.6em;
}

.header-subtitle {
  margin-top: 10%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

.nav-wrapper {
    padding: 0 10px;
  }

}

.col-contatti {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#contatti h5 {
font-size: 1.6em;
font-family: 'Oleo Script', cursive;
}  

.menu-icon {
  font-size: 2em;
  margin-top: 50px;
}

#menù h1 { 
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
  font-size: 0.7em;
  margin-bottom: 30px;
}

footer.page-footer {
  margin: 0;
  background-color: #000000;
  font-family: 'Oleo Script', cursive;
}

.social-icon {
  font-size: 1.5em;
  color: #ffffff; 
  padding: 0 8px;
}

